<div class=" col-lg-2 bg-light py-4 px-4 mx-auto">
<h4>新規登録</h4>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    (<%= @minimum_password_length %>文字以上)
    <% end %><br />
    <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録", class: "btn btn-success my-3" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>