<%= "コメント数:#{post.comments.count}" %>
<% post.comments.each do |comment| %>
  <ul class="media-list">
    <li class="media">
      <%= attachment_image_tag comment.user, :image, :fill, 50, 50, fallback: "no_image.jpg", size: '50x50' %>
      <%= comment.user.name %>
      <%= comment.created_at.strftime('%m月%d日 %H時%M分') %></br>
      <%= comment.content %>
    </li>
  </ul>
<% end %>