<!-- コメント内容(1,2件目) ------------------------------------------------------------------>
<h6 class="more" data-toggle="collapse" data-target="#collapseExample<%= post.id %>" aria-expanded="false" aria-controls="collapseExample">もっと見る....</h6>
<% post.comments.first(2).each do |comment| %>
  <ul class="media-list">
    <li class="media">
      <%= attachment_image_tag comment.user, :image, :fill, 50, 50, fallback: "no_image.jpg", size: '50x50' %>
      <%= comment.user.name %>
      <%= comment.created_at.strftime('%m月%d日 %H時%M分') %></br>
      <%= comment.content %>
      <%= link_to "削除", post_comment_path(comment.post_id, comment.id), method: :delete, data: { confirm: "コメント「#{comment.content}」を削除します。よろしいですか？" }, remote: true %>
    </li>
  </ul>
<% end %>
<!-- コメント内容(3件目以降) ------------------------------------------------------------------>
<div class="collapse" id="collapseExample<%= post.id %>">
  <% post.comments.offset(2).each do |comment| %>
    <ul class="media-list">
      <li class="media">
        <%= attachment_image_tag comment.user, :image, :fill, 50, 50, fallback: "no_image.jpg", size: '50x50' %>
        <%= comment.user.name %>
        <%= comment.created_at.strftime('%m月%d日 %H時%M分') %></br>
        <%= comment.content %>
        <%= link_to "削除", post_comment_path(comment.post_id, comment.id), method: :delete, data: { confirm: "コメント「#{comment.content}」を削除します。よろしいですか？" }, remote: true %>
      </li>
    </ul>
  <% end %>
</div>