  <%= form_with model: task, local: true do |f| %>
  <table>
    <tr>
      <td><%= f.label :タスク名 %></td>
      <td><%= f.text_field :title, autofocus: true, class: "form-control" %></td>
    </tr>
    <tr>
      <td><%= f.label :詳細（任意） %></td>
      <td><%= f.text_area :description, class: "form-control" %></td>
    </tr>
    <tr>
      <td><%= f.label :期限（任意） %></td>
      <td><%= f.date_select :end_date, {}, { class: "form-control", style: "display: inline-block;width: auto;" } %></td>
    </tr>
    <tr>
      <td><%= f.label :ステータス %></td>
      <td><%= f.select :status, ["未完了","完了"], {},{class: "form-control"} %></td>
    </tr>
    <tr>
      <td><%= f.submit "確定", class: "btn btn-success" %></td>
      <td></td>
    </tr>
  </table>
  <% end %>
