<% tasks.each do |task| %>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.end_date %></td>
    <td id="task<%= task.id %>" ><%= task.status %></td>
    <% if task.user_id == current_user.id %>
      <td><%= link_to "編集", edit_task_path(task), class: "btn btn-success" %></td>
      <td><%= button_to '完了', done_path(task), method: :post, remote: true %></td>
    <% end %>
  </tr>
<%  end %>