<div class="row">
  <h2 class="col-lg-4 text-white">タスク一覧</h2>
  <div class="col-lg-8 form-inline">
    <%= search_form_for @q do |f| %>
      <%= f.search_field :title_cont, class: "form-control", placeholder: "タスク名で検索" %>
      <%= f.submit "検索", class: "btn btn-light" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 pt-3">
    <div class="py-4 px-4 bg-light">
    <h4>タスク登録</h4>
      <%= render 'form', task: @task %>
    </div>
    <div class="bg-light py-3 px-4 mt-3">
      
		  <h4>タスク進捗状況</h4>
		  <canvas id="myPieChart"></canvas>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

      <script>
      var ctx = document.getElementById("myPieChart");
      var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: ["完了", "未完了",],
          datasets: [{
              backgroundColor: [
                  "#BB5179",
                  // "#FAFF67",
                  // "#58A27C",
                  "#3C00FF"
              ],
              data: [<%= @tasks.where(status: "完了").count %>,<%= @tasks.where(status: "未完了").count %>]
          }]
        },
        options: {
          title: {
            display: true,
            text: 'タスク進捗度'
          }
        }
      });
      </script>
    </div>
	</div>

  <div class="col-lg-7 py-4 px-4 bg-light mt-3">
    <%= render 'task', tasks: @tasks %>
  </div>
</div>