<div class="row">
  <h2 class="col-lg-4 text-white">タスク一覧</h2>
  <div class="col-lg-8 form-inline">
    <%= search_form_for @q do |f| %>
      <%= f.search_field :title_cont, class: "form-control", placeholder: "タスク名で検索" %>
      <%= f.submit "検索", class: "btn btn-light" %>
    <% end %>
  </div>
</div>


<div class="py-4 px-4 bg-light">
  <%= link_to "タスク作成", new_task_path, class: "btn btn-success mb-3" %>
  
  <%= render 'task', tasks: @tasks %>

  <%= render 'chart', tasks: @tasks %>
</div>