<%= render "layouts/error_messages", resource: @task %>
<div class="row">
  <h2 class="col-md-4 text-white">タスク一覧</h2>
  <div class="col-md-8 form-inline">
    <%= search_form_for @q do |f| %>
      <%= f.search_field :title_cont, class: "form-control", placeholder: "タスク名で検索" %>
      <%= f.submit "検索", class: "btn btn-light" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="p-4 bg-light">
      <h4>タスク登録</h4>
      <%= render 'form', task: @task %>
    </div>

    <div class="bg-light p-4 mt-3">
		  <h4>タスク進捗状況</h4>
		  <div id="task_chart">
		    <%= render 'chart_current', tasks: @tasks %>
		  </div>
	  </div>

  <div class="col-md-7 p-4 bg-light m-3 m-md-0">
    <h4>タスク一覧</h4>
    <div id="task_tasks">
      <%= render 'task', tasks: @tasks %>
    </div>
  </div>
</div>