  <div class="row">
    <h2 class="col-lg-4 text-white">ユーザー一覧</h2>
    <div class="col-lg-8 form-inline">
      <%= search_form_for @q do |f| %>
        <%= f.search_field :name_cont, class: "form-control", placeholder: "ユーザー名で検索" %>
        <%= f.submit "検索", class: "btn btn-light" %>
      <% end %>
    </div>
  </div>

  <div class="py-4 px-4 bg-light">

  <table class="table table-hover table-borderd table-condensed">
    <thead>
      <tr class="info">
        <th>アイコン画像</th>
        <th>氏名</th>
        <th>最終ログイン</th>
        <th>メールアドレス</th>
        <th>所属</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr class="info">
          <th><%= attachment_image_tag user, :image, :fill, 40, 40, fallback: "no_image.jpg" %></th>
          <th><%=link_to user.name, user_path(user) %></th>
          <th><%= user.current_sign_in_at.strftime('%-m月%-d日 %-H時%-M分') %></th>
          <th><%= user.email %></th>
          <th><%= user.belonging %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
    <%= paginate @users %>
  </div>
  
