<h2 class="text-white"><%= @user.name %>のユーザーページ</h2>
  <div class="row">
    <div class="col-lg-2 bg-light py-3 px-3 mx-3">
  		<div class="row px-3">
	  		<h4>ユーザー情報</h4>
			<% if current_user == @user %>
			  <p class="ml-auto"><%= link_to "編集", edit_user_path, class: "btn btn-primary ml-3" %></p>
			<% end %>
  		</div>
	  	<%= attachment_image_tag @user, :image, :fill, 100, 100, fallback: "no_image.jpg" %>
	  	<p>
		  [氏名]</br>
		  <%= @user.name %>
			</p>
			<p>
			  [メールアドレス]</br>
			  <%= @user.email %>
			</p>
			<p>
			  [所属]</br>
			  <%= @user.belonging %>
			</p>
		</div>

		<div class="col-lg-3 bg-light py-3 px-3 mr-3">
			<div class="row px-3">
				<h4>所属ルーム一覧</h4>
				  <p class="ml-auto"><%= link_to "新規作成", new_room_path, class: "btn btn-warning ml-3" %></p>
	  		</div>
			<table class="table">
				<tr>
					<td>ルーム名</td>
					<td></td>
				</tr>
				<% @rooms.each do |room| %>
        <tr>
          <td><%= room.name %></td>
          <td class="text-right">
            <%= link_to "編集", edit_room_path(room), class: "btn btn-primary" %>
            <%= link_to "参加", room_path(room), class: "btn btn-success" %>
          </td>
        </tr>
	    	<% end %>
			</table>
	   </div>

		<div class="col-lg-6 bg-light py-3">
		  <h4>所属グループチャット状況</h4>
		  
  	  <%= render 'chats/show', chats: @chats, user: @user %>
		</div>

	  	<div class="col-lg-4 bg-light py-3 mx-3 mt-3">
		  <h4>タスク進捗状況</h4>
	     <%= render 'tasks/chart', tasks: @tasks, user: @user %>
		</div>

		<div class="col-lg-7 bg-light py-3 px-3 mt-3">
			<div class="row px-3">
			    <h4>タスク一覧</h4>
				<p class="ml-auto"><%= link_to "新規作成", new_task_path, class: "btn btn-warning ml-3" %></p>
	  		</div>
		  <%= render 'tasks/task', tasks: @tasks %>
		</div>

		<div class="col-lg-5 bg-light py-3 px-3 mx-3 mt-3">
			<h4>投稿・いいね・コメント一覧</h4>
			<% @posts.each do |post| %>
			  <hr>
			  <%= @user.name %>さんが<%=link_to post.content, post_path(post.id) %>を投稿しました！
			<% end %>
			<% @like_posts.each do |post| %>
			  <hr>
			  <%= @user.name %>さんが<%=link_to post.content, post_path(post.id) %>にいいねしました！
			<% end %>
			<% @comment_posts.each do |post| %>
			  <hr>
			  <%= @user.name %>さんが<%=link_to post.content, post_path(post.id) %>にコメントしました！
			<% end %>
		</div>

		<div class="col-lg-6 bg-light py-3 px-3 mt-3">
			<h4>いいね・コメントされた投稿一覧</h4>
			<% @like_posts.each do |post| %>
			  <hr>
			  <%= post.user.name %>さんが<%=link_to post.content, post_path(post.id) %>にいいねしました！
			<% end %>
			<% @comment_posts.each do |post| %>
			  <hr>
			  <%= post.user.name %>さんが<%=link_to post.content, post_path(post.id) %>にコメントしました！
			<% end %>
		</div>
  </div>