<h2 class="text-white"><%= @user.name %>のユーザーページ</h2>
  <div class="row">
    <div class="col-lg-3 bg-light py-3 px-3 mx-3">
	  <%= attachment_image_tag @user, :image, :fill, 100, 100, fallback: "no_image.jpg", size: '300x300' %>
  		<div class="row px-3 mt-3">
	  		<h4>連絡先情報</h4>
				<% if current_user == @user %>
				  <p class="ml-auto"><%= link_to "編集", edit_user_path, class: "btn btn-primary ml-3" %></p>
				<% end %>
	  		</div>
		  	<p>
			  	[氏名]</br>
			  	<%= @user.name %>
				</p>
				<p>
				  [メールアドレス]</br>
				  <%= @user.email %>
				</p>
				<p>
				  [所属]</br>
				  <%= @user.belonging %>
				</p>
				<p>
				  [最終ログイン時間]</br>
				  <%= @user.current_sign_in_at&.strftime('%-m月%-d日 %-H:%M') %>
				</p>
		</div>
		<% if current_user == @user %>
		<div class="col-lg-8 bg-light py-3">
		  <h4>所属グループチャット状況</h4>
  	  <%= render 'chats/show', chats: @chats, user: @user %>
		</div>
		<% else %>
		  <div class="col-lg-3 bg-light py-3 mr-3">
			  <h4>タスク進捗状況</h4>
		     <%= render 'tasks/chart', tasks: @tasks, user: @user %>
			</div>

			<div class="col-lg-5 bg-light py-3 px-3">
				<div class="row px-3">
				  <h4>タスク一覧</h4>
					<!--<p class="ml-auto"><= link_to "新規作成", new_task_path, class: "btn btn-warning ml-3" %></p>-->
		  		</div>
			  <%= render 'tasks/task', tasks: @tasks %>
			</div>
		<% end %>
		<div class="col-lg-3 bg-light py-3 px-3 mx-3 mt-3">
		  <div class="row px-3">
		    <h4>所属ルーム一覧</h4>
			<% if current_user == @user %>
			  <p class="ml-auto"><%= link_to "新規作成", rooms_path, class: "btn btn-warning ml-3" %></p>
			<% end %>
	  	  </div>
		  <table class="table">
		    <tr>
			  <td>ルーム名</td>
			  <td></td>
			</tr>
		    <% @rooms.each do |room| %>
	            <tr>
	              <td><%= room.name %></td>
	              <% if current_user == @user %>
		            <td class="text-right">
		              <%= link_to "編集", edit_room_path(room), class: "btn btn-primary" %>
		              <%= link_to "参加", room_path(room), class: "btn btn-success" %>
		            </td>
	              <% end %>
	            </tr>
	    	<% end %>
		  </table>
	    </div>

		<div class="col-lg-4 bg-light py-3 px-3 mr-3 mt-3">
			<h4>投稿・いいね・コメント一覧</h4>
			<% @posts.each do |post| %>
			  <hr>
			  <%= @user.name %>さんが<%=link_to post.content, post_path(post.id) %>を投稿しました！
			  [<%= post.created_at.strftime('%-m月%-d日 %-H:%M') %>]
			<% end %>
			<% @like_posts.each do |like_post| %>
			  <hr>
			  <%= @user.name %>さんが<%=link_to like_post.content, post_path(like_post.id) %>にいいねしました！
			  [<%= like_post.created_at.strftime('%-m月%-d日 %-H:%M') %>]
			<% end %>
			<% @comment_posts.each do |comment_post| %>
			  <hr>
			  <%= @user.name %>さんが<%=link_to comment_post.content, post_path(comment_post.id) %>にコメントしました！
			  [<%= comment_post.created_at.strftime('%-m月%-d日 %-H:%M') %>]
			<% end %>
		</div>

		<div class="col-lg-4 bg-light py-3 px-3 mt-3">
			<h4>いいね・コメントされた投稿一覧</h4>
			<% @liked_posts.each do |liked_post| %>
			  <% unless liked_post.user == current_user %>
			  <hr>
				  <%= liked_post.user.name %>さんが<%=link_to liked_post.post.content, post_path(liked_post.post_id) %>にいいねしました！
				  [<%= liked_post.created_at.strftime('%-m月%-d日 %-H:%M') %>]
			  <% end %>
			<% end %>
			<% @commented_posts.each do |commented_post| %>
			  <% unless commented_post.user == current_user %>
			  <hr>
				  <%= commented_post.user.name %>さんが<%=link_to commented_post.post.content, post_path(commented_post.post_id) %>にコメントしました！
				  [<%= commented_post.created_at.strftime('%-m月%-d日 %-H:%M') %>]
			  <% end %>
			<% end %>
		</div>
  </div>