<h2 class="text-white"><%= @user.name %>のユーザーページ</h2>
  <div class="row">
    <div class="col-11 col-md-3 bg-light p-3 mx-3 mr-md-0">
	  <%= attachment_image_tag @user, :image, :fill, 100, 100, fallback: "no_image.jpg", size: '300x300', class: "img-fluid" %>
  		<div class="row px-3 mt-3">
	  		<h4>連絡先情報</h4>
				<% if current_user == @user %>
				  <p class="ml-auto"><%= link_to "編集", edit_user_path, class: "btn btn-primary ml-3" %></p>
				<% end %>
	  		</div>
		  	<p>
			  	[氏名]</br>
			  	<%= @user.name %>
				</p>
				<p>
				  [メールアドレス]</br>
				  <%= @user.email %>
				</p>
				<p>
				  [所属]</br>
				  <%= @user.belonging %>
				</p>
				<p>
				  [最終ログイン時間]</br>
				  <%= @user.current_sign_in_at&.strftime('%-m月%-d日 %-H:%M') %>
				</p>
		</div>
		<% if current_user == @user %>
		<div class="col-11 col-md-8 bg-light py-3 mx-3 mt-3 my-md-0">
		  <h4>所属グループチャット状況</h4>
  	  <%= render 'chats/show', chats: @chats, user: @user %>
  	  <div class="mt-3">
				<%= paginate @chats, param_name: 'chat_page' %>
			</div>
		</div>
		<% else %>
		  <div class="col-11 col-md-3 bg-light py-3 mr-3">
			  <h4>タスク進捗状況</h4>
		     <%= render 'tasks/chart', tasks: @tasks, user: @user %>
			</div>

			<div class="col-11 col-md-5 bg-light p-3">
				<div class="row px-3">
				  <h4>タスク一覧</h4>
		  		</div>
			  <%= render 'tasks/task', tasks: @tasks %>
			</div>
		<% end %>
		<div class="col-11 col-md-3 bg-light p-3 mx-3 mt-3 mr-md-0">
		  <div class="row px-3">
		    <h4>所属ルーム一覧</h4>
			<% if current_user == @user %>
			  <p class="ml-auto"><%= link_to "新規作成", rooms_path, class: "btn btn-warning ml-3" %></p>
			<% end %>
	  	  </div>
		  <table class="table">
		    <tr>
			  <td>ルーム名</td>
			  <td></td>
			</tr>
		    <% @rooms.each do |room| %>
	            <tr>
	              <td><%= room.name %></td>
	              <% if current_user == @user %>
		            <td class="text-right">
		              <%= link_to "編集", edit_room_path(room), class: "btn btn-primary" %>
		              <%= link_to "参加", room_path(room), class: "btn btn-success" %>
		            </td>
	              <% end %>
	            </tr>
	    	<% end %>
		  </table>
	    </div>

		<div class="col-11 col-md-4 bg-light p-3 mx-3 mt-3">
			<h4><%= @user.name %>の投稿・いいね・コメント一覧</h4>
				<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
					<li class="nav-item" role="presentation">
				    <a class="nav-link active" id="pills-post-tab" data-bs-toggle="pill" href="#pills-post" role="tab" aria-controls="pills-post" aria-selected="true">投稿</a>
				  </li>
				  <li class="nav-item" role="presentation">
				    <a class="nav-link" id="pills-like-tab" data-bs-toggle="pill" href="#pills-like" role="tab" aria-controls="pills-like" aria-selected="false">いいね</a>
				  </li>
				  <li class="nav-item" role="presentation">
				    <a class="nav-link" id="pills-comment-tab" data-bs-toggle="pill" href="#pills-comment" role="tab" aria-controls="pills-comment" aria-selected="false">コメント</a>
				  </li>
				</ul>
				<div class="tab-content" id="pills-tabContent">
				  <div class="tab-pane fade show active" id="pills-post" role="tabpanel" aria-labelledby="pills-post-tab">
				  	<% @posts.each do |post| %>
						  <hr>
						  <%= @user.name %>さんが<%=link_to post.content, post_path(post.id) %>を投稿しました！
						  [<%= post.created_at.strftime('%-m月%-d日 %-H:%M') %>]
						<% end %>
						<div class="mt-3">
							<%= paginate @posts, param_name: 'post_page' %>
						</div>
				  </div>
				  <div class="tab-pane fade" id="pills-like" role="tabpanel" aria-labelledby="pills-like-tab">
				  	<% @like_posts.each do |like_post| %>
						  <hr>
						  <%= @user.name %>さんが<%=link_to like_post.content, post_path(like_post.id) %>にいいねしました！
						  [<%= like_post.created_at.strftime('%-m月%-d日 %-H:%M') %>]
						<% end %>
						<div class="mt-3">
							<%= paginate @like_posts, param_name: 'like_page' %>
						</div>
				  </div>
				  <div class="tab-pane fade" id="pills-comment" role="tabpanel" aria-labelledby="pills-comment-tab">
				  	<% @comment_posts.each do |comment_post| %>
						  <hr>
						  <%= @user.name %>さんが<%=link_to comment_post.content, post_path(comment_post.id) %>にコメントしました！
						  [<%= comment_post.created_at.strftime('%-m月%-d日 %-H:%M') %>]
						<% end %>
						<div class="mt-3">
							<%= paginate @comment_posts, param_name: 'comment_page' %>
						</div>
				  </div>
				</div>
		</div>

		<div class="col-11 col-md-4 bg-light py-3 px-3 m-3 m-md-0 mt-md-3">
			<h4><%= @user.name %>のいいね・コメントされた投稿一覧</h4>
			<ul class="nav nav-pills mb-3" id="liked-tab" role="tablist">
			  <li class="nav-item" role="presentation">
			    <a class="nav-link active" id="pills-liked-tab" data-bs-toggle="pill" href="#pills-liked" role="tab" aria-controls="pills-liked" aria-selected="true">いいね</a>
			  </li>
			  <li class="nav-item" role="presentation">
			    <a class="nav-link" id="pills-commented-tab" data-bs-toggle="pill" href="#pills-commented" role="tab" aria-controls="pills-commented" aria-selected="false">コメント</a>
			  </li>
			</ul>
			<div class="tab-content" id="pills-tabContent">
			  <div class="tab-pane fade show active" id="pills-liked" role="tabpanel" aria-labelledby="pills-liked-tab">
			  	<% @liked_posts.each do |liked_post| %>
					  <% unless liked_post.user == current_user %>
					  <hr>
						  <%= liked_post.user.name %>さんが<%=link_to liked_post.post.content, post_path(liked_post.post_id) %>にいいねしました！
						  [<%= liked_post.created_at.strftime('%-m月%-d日 %-H:%M') %>]
					  <% end %>
					<% end %>
					<div class="mt-3">
							<%= paginate @comment_posts, param_name: 'liked_page' %>
					</div>
			  </div>
			  <div class="tab-pane fade" id="pills-commented" role="tabpanel" aria-labelledby="pills-commented-tab">
			  	<% @commented_posts.each do |commented_post| %>
					  <% unless commented_post.user == current_user %>
					  <hr>
						  <%= commented_post.user.name %>さんが<%=link_to commented_post.post.content, post_path(commented_post.post_id) %>にコメントしました！
						  [<%= commented_post.created_at.strftime('%-m月%-d日 %-H:%M') %>]
					  <% end %>
					<% end %>
					<div class="mt-3">
							<%= paginate @comment_posts, param_name: 'commented_page' %>
					</div>
			  </div>
			</div>
		</div>
  </div>