<%= render "layouts/error_messages", resource: @event %>
<h2 class="text-white">カレンダー</h2>
	<!--<div class="p-4 bg-light">-->
    <!--<= link_to 'イベント追加', new_event_path %>-->
    <div class="row mx-1">
      <div class="col-md-7 bg-light">
        <%= month_calendar events: @events do |date, events| %>
          <%= date.day %>
            <% events.each do |event| %>
              <div>
                <%= link_to event.title, event_path(events) %>
              </div>
            <% end %>
        <% end %>
      </div>
      <div class="col-md-5 bg-light d-flex align-items-center p-4">
        <%=render 'form', event: @event %>
      </div>
      <div class="col-md-12 bg-light py-3 mt-3">
        <table class="table">
          <tr>
            <th style="width:25%">タイトル</th>
            <th style="width:30%">詳細</th>
            <th style="width:15%">開始</th>
            <th style="width:15%">終了</th>
            <th style="width:15%"></th>
          </tr>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.title %></td>
            <td><%= event.description %></td>
            <td><%= event.start_date.strftime('%Y年%-m月%-d日 %H時%M分') %></td>
            <td><%= event.end_date.strftime('%Y年%-m月%-d日 %H時%M分') %></td>
            <td>
              <%= link_to "編集", edit_event_path(event), class: "btn btn-primary" %>
              <%= link_to "削除", event, method: :delete, data: { confirm: "イベント「#{event.title}」を削除します。よろしいですか？" }, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
        </table>
      </div>
    </div>
  <!--</div>-->