<h2 class="text-white">お問い合わせ</h2>
<div class="py-4 px-4 bg-light">
  
<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
  
  <tr class="field">
    <td><%= form.label :名前 %></td>
    <td><%= form.text_field :name, autofocus: true, class: "form-control" %></td>
  </tr>

  <tr class="field">
    <td><%= form.label :メールアドレス %></td>
    <td><%= form.text_field :email, class: "form-control" %></td>
  </tr>

  <tr class="field">
    <td><%= form.label :内容 %></td>
    <td><%= form.text_area :content, class: "form-control" %></td>
  </tr>

  <tr class="actions">
    <td><%= form.submit "送信", class: "btn btn-success mt-2" %></td>
    <td></td>
  </tr>
</table>
<% end %>
<%= link_to '戻る', contacts_path, class: "btn btn-primary mt-2" %>
</div>
