<h2 class="text-white mx-3">お問い合わせ一覧</h2>
	<div class="bg-light p-4 mx-3">
<%= link_to 'お問い合わせフォーム', new_contact_path, class: "btn btn-warning mb-3" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th style="width:15%">名前</th>
      <th style="width:20%">メールアドレス</th>
      <th style="width:50%">内容</th>
      <th style="width:25%"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.content %></td>
        <td>
          <%= link_to '詳細', contact, class: "btn btn-success" %>
          <%= link_to '編集', edit_contact_path(contact), class: "btn btn-primary" %>
          <%= link_to '削除', contact, method: :delete, data: { confirm: "お問い合わせ「#{contact.content}」を削除します。よろしいですか？" }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>