<div class="row bg-white">
  <%= image_tag asset_path('linkedin_banner_image_2.png'), class: "mx-auto img-fluid" %>
</div>

<div class="row bg-light">
  <div class="col-md-4">
    <%= image_tag asset_path('spiderman.jpeg'), class: "img-fluid" %>
  </div>
  <div class="col-md-8  d-flex align-items-center">
    <div class="mx-auto">
      <div class="d-flex flex-column m-5">
  <h3>「オンライン学習中にあったら<br>よかったなと思ったものをつめこみました。」</h3>
  <h4 class="text-right">Creater.Mikitaka Fukane</h4>
      </div>
    </div>
  </div>
</div>

<div class="row bg-white pt-3">
  <h1 class="mx-auto py-5">sharerの三つの特徴</h1>
</div>
<div class="row bg-white">
  <div class="col-md-4 text-center py-5"><%= image_tag asset_path('box1.png') %></div>
  <div class="col-md-4 text-center py-5"><%= image_tag asset_path('box2.png') %></div>
  <div class="col-md-4 text-center py-5"><%= image_tag asset_path('box3.png') %></div>
  <div class="col-md-4 px-5 py-4">
    <h2 class="text-center">タスクの進捗管理</h2>
    <p class=" py-3">個々のタスクの進捗状況ををグループで共有することで自分の現状がわかり、
    学習のモチベーションアップとメンバーへのフォローがしやすくなります！</p>
  </div>
  <div class="col-md-4 px-5 py-4">
    <h2 class="text-center">ログイン状況確認</h2>
    <p class=" py-3">オンライン学習だと朝会くらいしかメンバーと関わる機会がなく、コミュニケーションが取れないので、
    ログイン状況の把握やチャットが出来ることで接点を増えます！</p>
  </div>
  <div class="col-md-4 px-5 py-4">
    <h2 class="text-center">おすすめ情報の共有</h2>
    <p class=" py-3">グループで就職や学習についてのおすすめ情報を投稿し、お互いの知見を深めることが出来、
    いいねやコメントをしてコミュニケーションもとることが出来ます！</p>
  </div>
</div>