<%= render "layouts/error_messages", resource: @room %>
<h2 class="text-white">ルーム</h2>
<div class="row">
	<div class="col-lg-5 bg-light py-4 px-4 mx-3">
	  <h4>ルーム新規作成</h4>
    <%= render 'form', room: @room %>
  </div>
  <div class="col-lg-5 bg-light py-4 px-4">
    <h4>参加ルーム一覧</h4>
    <table class= "table">
        <tr>
          <th>ルーム名</th>
          <th></td>
        </tr>
        <% @rooms.each do |room| %>
            <tr>
              <td><%= room.name %></td>
              <td>
                <%= link_to "編集", edit_room_path(room), class: "btn btn-primary" %>
                <%= link_to "詳細", room_path(room), class: "btn btn-warning" %>
              </td>
            </tr>
        <% end %>
    </table>
  </div>
</div>