<h2 class="text-white">ルーム：<%= @room.name %> 詳細画面</h2>
<div class="py-4 px-4 bg-light">

	<%= link_to "ユーザー追加除外", room_belongings_index_path(@room), class: "btn btn-success" %>
	<%= link_to "ルーム一覧に戻る", rooms_path, class: "btn btn-success" %>

	<table class="col-lg-2 table table-bordered table-condensed" >
		<tbody>
			<tr>
				<th>ユーザ名</th>
			</tr>
	　　　<% @room.users.each do |user| %>
	      <tr>
	        <td><%= link_to user.name, user_path(user) %></td>
	      </tr>
	    <%  end %>
		</tbody>
	</table>
	
	<% @posts.each do |post| %>
	    <div class=" py-4 px-4 mt-3">
	      <%= post.content %>
	        <% if post.liked_by?(current_user) %>
	            <p><%=link_to "いいね#{post.likes.count}", post_likes_path(post.id), method: :delete %></p>
	        <% else %>
	            <p><%=link_to "いいね#{post.likes.count}", post_likes_path(post.id), method: :post %></p>
	        <% end %>
	      
	      <% post.comments.each do |comment| %>
	        <ul class="media-list">
	          <li class="media">
	            <%= attachment_image_tag comment.user, :image, :fill, 40, 40, fallback: "no_image.jpg" %>
	            <%= comment.content %>
	          </li>
	        </ul>
	      <% end %>
	      
	    </div>
	  <% end %>
</div>
	
	