<div class="row">
	<div class="sidebar col-lg-2">
    <h2 class="text-white">ルーム</br><%= @room.name %> </h2>
  	<%= link_to "マイページに戻る", user_path(current_user), class: "btn btn-dark" %>
　　<% @room.users.each do |user| %>
　　<hr>
      <p><%= link_to user.name, user_path(user) %></br>
      [最終ログイン]<%= user.current_sign_in_at&.strftime('%-m月%-d日 %-H:%M') %>
      <%= render 'tasks/chart', tasks: user.tasks, user: user  %>
      </p>
    <% end %>
	</div>

	<div class="col-lg-6">
	  <div class="row">
      <h3 class="col-lg-7 text-white mt-5">ルームメンバーの投稿一覧</h3>
      <div class="col-lg-5 form-inline mt-5">
        <%= search_form_for @q do |f| %>
          <%= f.search_field :content_cont, class: "form-control", placeholder: "投稿で検索" %>
          <%= f.submit "検索", class: "btn btn-light" %>
        <% end %>
      </div>
    </div>
    <div class="py-4 px-4 bg-light">
      <%= render "posts/form", post: @post %>
    </div>

    <% @posts.each do |post| %>
      <div class="py-4 px-4 bg-light mt-3">
        <%= render 'posts/index', post: post %>
        <div class="d-flex">
          <div id="like-btn-<%= post.id %>">
            <%= render 'likes/like', post: post %>
          </div>
          <div id="post_count<%= post.id %>">
            <%= "コメント数:#{post.comments.count}" %>
          </div>
        </div>
        <%= render 'comments/form', { post: post, comment: @comment } %>
        <div id="post_comment<%= post.id %>" >
          <%= render 'comments/index', post: post %>
        </div>
      </div>
    <% end %>

	</div>
	<div class="col-lg-4">
  	<h3 class="text-white mt-5">ルームチャット</h3>
  	<div class="bg-light py-4 px-4">
      <%= form_with model: @chat, url:chats_path, method: :post do |f| %>
        <%= f.text_field :content, class: "form-control", placeholder: "チャット" %>
        <%= f.hidden_field :room_id %>
      <% end %>
      <div id="chat">
  	    <%= render 'chats/show', chats: @chats %>
      </div>
  	</div>
	</div>

</div>