<p><%= attachment_image_tag post.user, :image, :fill, 50, 50, fallback: "no_image.jpg", size: '50x50', class: "	rounded-circle" %>
  <%= post.user.name %>
</p>
<p><%= post.content %></p>
<p class="text-right">
  <%= post.created_at.strftime('%-m月%-d日 %-H:%M') %>
  <%if post.user_id == current_user.id %>
    <%= link_to "削除", post_path(post), method: :delete, data: { confirm: "投稿「#{post.content}」を削除します。よろしいですか？" } %>
  <% end %>
</p>
<hr>