<div class="row">
  <h2 class="col-lg-4 text-white">投稿一覧</h2>
  <div class="col-lg-8">
    <%= search_form_for @q do |f| %>
      <%= f.search_field :content_cont, placeholder: "タイトルで検索" %>
      <%= f.submit "検索" %>
    <% end %>
  </div>
</div>

	<div class="py-4 px-4 bg-light">
    <%= render "form", post: @post %>
  </div>
  

    <% @posts.each do |post| %>
      <div class="py-4 px-4 bg-light mt-3">
        <%= post.content %>
          <% if post.liked_by?(current_user) %>
              <p><%=link_to "いいね#{post.likes.count}", post_likes_path(post.id), method: :delete %></p>
          <% else %>
              <p><%=link_to "いいね#{post.likes.count}", post_likes_path(post.id), method: :post %></p>
          <% end %>
        
        <% post.comments.each do |comment| %>
          <ul class="media-list">
            <li class="media">
              <%= attachment_image_tag comment.user, :image, :fill, 40, 40, fallback: "no_image.jpg" %>
              <%= comment.content %>
            </li>
          </ul>
        <% end %>
        
        <%= form_with model: [post, @comment], local: true do |f| %>
          <%= f.text_field :content %>
          <%= f.hidden_field :user_id %>
          <%= f.submit "投稿" %>
        <% end %>
        
      </div>
    <% end %>
    
    <%= paginate @posts %>
  </div>