<div class="row">
  <h2 class="col-lg-4 text-white">投稿一覧</h2>
  <div class="col-lg-8 form-inline">
    <%= search_form_for @q do |f| %>
      <%= f.search_field :content_cont, class: "form-control", placeholder: "投稿で検索" %>
      <%= f.submit "検索", class: "btn btn-light" %>
    <% end %>
  </div>
</div>

	<div class="py-4 px-4 bg-light">
    <%= render "form", post: @post %>
  </div>


    <% @posts.each do |post| %>
      <div class="py-4 px-4 bg-light mt-3">
        <%= post.content %>
        <p class="text-right">
          <%= post.created_at.strftime('%-m月%-d日 %-H:%M') %>
          <%if post.user_id == current_user.id %>
            <%= link_to "削除", post_path(post), method: :delete, data: { confirm: "投稿「#{post.content}」を削除します。よろしいですか？" } %>
          <% end %>
        </p>
        <hr>
        <div id="like-btn-<%= post.id %>">
          <%= render 'likes/like', post: post %>
          <%= "コメント数:#{post.comments.count}" %>
        </div>
        <div id="comments_area">
          <%= render 'comments/form', { post: post, comment: @comment } %>
          <%= render 'comments/index', post: post %>
        </div>
      </div>
    <% end %>

    <%= paginate @posts %>
  </div>