<div class="row">
  <h2 class="col-md-4 text-white">投稿一覧</h2>
  <div class="col-md-8 mb-3 form-inline">
    <%= search_form_for @q do |f| %>
      <%= f.search_field :content_cont, class: "form-control", placeholder: "投稿で検索" %>
      <%= f.submit "検索", class: "btn btn-light" %>
    <% end %>
  </div>
</div>

	<div class="p-4 bg-light">
    <%= render "form", post: @post %>
  </div>

    <% @posts.each do |post| %>
      <div class="p-4 bg-light mt-3">
        <%= render 'posts/index', post: post %>
        <div class="d-flex">
          <div id="like-btn-<%= post.id %>">
            <%= render 'likes/like', post: post %>
          </div>
          <div id="post_count<%= post.id %>">
            <%= "コメント数:#{post.comments.count}" %>
          </div>
        </div>
        <%= render 'comments/form', { post: post, comment: @comment } %>
        <div id="post_comment<%= post.id %>" >
          <%= render 'comments/index', { post: post, comment: @comment }  %>
        </div>
      </div>
    <% end %>

    <%= paginate @posts %>
  </div>
