<div class="row">
  <h2 class="col-lg-4 text-white">投稿一覧</h2>
  <div class="col-lg-8 form-inline">
    <%= search_form_for @q do |f| %>
      <%= f.search_field :content_cont, class: "form-control", placeholder: "投稿で検索" %>
      <%= f.submit "検索", class: "btn btn-light" %>
    <% end %>
  </div>
</div>

	<div class="py-4 px-4 bg-light">
    <%= render "form", post: @post %>
  </div>


    <% @posts.each do |post| %>
      <div class="py-4 px-4 bg-light mt-3">
        <%= render 'posts/index', post: post %>
        <div class="d-flex">
          <p id="like-btn-<%= post.id %>"><%= render 'likes/like', post: post %></p>
          <p id="comments-count"><%= "コメント数:#{post.comments.count}" %></p>
        </div>
        <div>
          <p><%= render 'comments/form', { post: post, comment: @comment } %></p>
          <p id="comments_area"><%= render 'comments/index', post: post %></p>
        </div>
      </div>
    <% end %>

    <%= paginate @posts %>
  </div>