<div class="p-4 bg-light">
  <%= render 'posts/index', post: @post %>
  <div class="d-flex">
    <div id="like-btn-<%= @post.id %>">
      <%= render 'likes/like', post: @post %>
    </div>
    <div id="post_count<%= @post.id %>">
      <%= "コメント数:#{@post.comments.count}" %>
    </div>
  </div>
    <%= render 'comments/form', { post: @post, comment: @comment } %>
    <div id="post_comment<%= @post.id %>" >
      <%= render 'comments/index', post: @post %>
    </div>
</div>