<div class="py-4 px-4 bg-light">
    <%= @post.content %>
    <div>
      <% if @post.liked_by?(current_user) %>
          <%=link_to "いいね:#{@post.likes.count}", post_likes_path(@post.id), method: :delete %>
      <% else %>
          <%=link_to "いいね:#{@post.likes.count}", post_likes_path(@post.id), method: :post %>
      <% end %>
      <%= "コメント数:#{@post.comments.count}" %>
    </div>
    <% @post.comments.each do |comment| %>
      <ul class="media-list">
        <li class="media">
          <%= attachment_image_tag comment.user, :image, :fill, 40, 40, fallback: "no_image.jpg" %>
          <%= comment.user.name %>
          <%= comment.created_at.strftime('%m月%d日 %H時%M分') %></br>
          <%= comment.content %>
        </li>
      </ul>
    <% end %>
  
    <%= form_with model: [@post, @comment], local: true do |f| %>
      <%= f.text_field :content, class: "form-control", placeholder: "コメントを入力" %>
      <%= f.hidden_field :user_id %>
      <%= f.submit "コメントする", class: "btn btn-info mt-2" %>
    <% end %>
  </div>