<ul class="sidebar">
  <li class="sidebar-item list-unstyled"><%= link_to "掲示板", posts_path %></li>
  <li class="sidebar-item list-unstyled"><%= link_to "タスク", tasks_path %></li>
  <li class="sidebar-item list-unstyled"><%= link_to "カレンダー", events_path %></li>
  <li class="sidebar-item list-unstyled"><%= link_to "ユーザー", users_path %></li>
  <li class="sidebar-item list-unstyled"><%= link_to "チャット", "" %></li>
  <li class="sidebar-item list-unstyled"><%= link_to "ルーム", rooms_path %></li>
</ul>

