<!DOCTYPE html>
<html>
  <head>
    <title>Sherer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="bg-gradient" id="wrapper">
      <%= render "layouts/header" %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-2">
            <%= render "layouts/sidebar" %>
          </div>
          <div class="col-lg-9 col-lg-offset-1">
            <%= render "layouts/flash" %>
            <%= yield %>
          </div>
        </div>
      </div>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
