<!DOCTYPE html>
<html>
  <head>
    <title>Sherer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= render "layouts/header" %>
      <%#<%= render "layouts/flash" %>
      <div class="container">
        <div class="row">
        <div class="clearfix"></div>
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="sidebar">
            <li class="list-unstyled"><%= link_to "掲示板", posts_path %></li>
            <li class="list-unstyled"><%= link_to "タスク", "" %></li>
            <li class="list-unstyled"><%= link_to "カレンダー", "" %></li>
            <li class="list-unstyled"><%= link_to "ユーザー一覧", users_path %></li>
            <li class="list-unstyled"><%= link_to "チャット", "" %></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <%= yield %>
        </div>
      </div>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
